.container {
    padding-top: 2%;
    padding-left: 20%;
}

h1.title {
    font-size: 3.2vw;
    line-height: 1.5;
}

.container-documentation {
    margin-left: 20%;
    margin-right: 20%;
}

.container-documentation > h1 {
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 300;
    padding-bottom: 4rem;
}

.container-documentation > h2 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 300;
    padding-bottom: 2rem;
    color:#e6004c;
}

.container-documentation > h3 {
    font-size: 2.2rem;
    font-weight: bold;
    padding-top: 3rem;
}

.container-documentation > p {
    font-size: 1.8rem;
    line-height: 1.5;
}

.left {
    float: left;
}

.right {
    float: right;
}

.button {
    background-color: #e6004c;
}

#new {
    margin-top: 5vh;
    background-color: #e6004c;
    color: white;
    font-weight: bold;
}

#boxcolumn {
    position: fixed;
    bottom: 5%;
}

audio {
    height: 50px !important;
    margin-top: 5vh;
}

.navbar-end {
    margin: 2vw;
}

a {
    font-weight: bold;
    color: #e6004c !important;
}
