.container {
    padding-top: 5%;
    padding-left: 20%;
}

h1.title {
    font-size: 3.2vw;
    line-height: 1.5;
}

.left {
    float: left;
}

.right {
    float: right;
}

#new {
    margin-top: 5vh;
}

#boxcolumn {
    position: fixed;
    bottom: 8%;
}

audio {
    height: 50px !important;
    margin-top: 5vh;
}
